@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');


.demo-app-main {
  --fc-border-color: white;
  --fc-button-bg-color: #fff;
  --fc-button-text-color: #530b5b;
  margin: 0 8rem; 
  background-color: #C8A2C8;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.demo-app-main.dark-mode {
  background-color: #000;
  color: #fff;
}

.dark-mode .fc-toolbar-title,
.dark-mode .fc-col-header-cell-cushion,
.dark-mode .fc-daygrid-day-number {
  color: #fff !important;
}

.dark-mode .chat-window {
  background-color: #333;
  color: #fff;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #530b5b;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
  }
  
  .chat-icon:hover {
    background-color: #C8A2C8;
  }

  .chat-window {
    position: fixed;
    bottom: 90px;
    right: 20px;
    width: 450px;
    height: 400px; 
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    box-sizing: border-box; 
  }
  
  .chat-header {
    background: #530b5b;
    color: #fff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-messages {
    flex: 1; 
    padding: 10px;
    max-height: calc(100% - 50px);
    overflow-y: auto; 
    box-sizing: border-box;
  }
  
  .chat-message {
    margin-bottom: 10px;
    word-wrap: break-word; 
  }
  
  .chat-close-button {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }  
  
  .chat-close-button:hover {
    color: #ffcccc;
  }

  .fc-col-header-cell-cushion {
    font-family: "Playfair Display", serif !important; 
    color: #530b5b !important;
  }

  .fc-daygrid-day-number {
    color: #fff !important;
  }

  .fc-toolbar-title {
    font-family: "Playfair Display", serif !important; 
    font-size: 2.5rem !important;                  
    font-weight: 600 !important;                
    color: #530b5b !important;                    
  }
  

  /*  aqui */


.fc-button-primary {
    background-color: #fff !important;
    border-color: #fff !important;
    color: #530b5b !important; 
    font-family: "Playfair Display", serif !important; 
        
  }
  
  .fc-button-primary:hover {
    background-color: #f0d8f3 !important;
    border-color: #f0d8f3 !important;
  }
  
  .fc-button-active {
    background-color: #530b5b !important; 
    color: #fff !important;               
    border-color: #530b5b !important;
  }
  .config-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
    z-index: 1000;
  }

  .dark-mode .chat-window {
    background: #000; 
    border: 1px solid #fff; 
    color: #fff; 
  }
  
  .dark-mode .chat-header {
    background: #333; 
    color: #fff; 
  }
  
  .dark-mode .chat-close-button {
    color: #fff;
  }